* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-weight: 400;
}

/* Top Navigation Bar  */

#navbar {
  width: 100%;
  height: 8vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  box-shadow: 0 2px 0 white;
  z-index: 10;
}

#navbar-name {
  color: white;
  margin-top: 2.5vh;
  margin-left: 3vw;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.1rem;
}

#navbar i {
  position: fixed;
  top: 4.5vh;
  left: 49%;
}

ul {
  margin-top: 2.7vh;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 25%;
}

#navbar li {
  list-style: none;
  font-weight: 200;
  text-transform: uppercase;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar a:hover {
  color: gold;
  font-weight: bold;
}

/* Welcome Section */

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(darkviolet, #715ca8 60%);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

/* Projects Section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-header {
  width: 40vw;
  margin: 0 auto;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-title {
  font-size: 5rem;
  font-weight: bolder;
}

.contact-section p {
  margin-top: 3px;
}

#social-media {
  margin-top: 7vh;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

#social-media a {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  color: white;
}

#social-media a:hover {
  transform: translateY(8px);
  color: gold;
}
